name: CD

on:
  push:
    branches: [ "dev" ]

jobs:
  deploy:
    runs-on: [self-hosted, dev]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        run: |
          cd ~/Polarent-DEV
          git fetch origin
          git checkout dev
          git pull origin dev
          docker compose down -v --remove-orphans || true
          docker stop $(docker ps -q) 2>/dev/null || true
          sleep 2
          docker compose up -d --build
